img 
{
    width: 250px;
    height: auto;
}

html
{
    background-color: rgb(245, 208, 153);
    font-family: "Courier New", Courier, monospace;
}

h1 
{
    
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: dashed;
}